<!-- app/views/shared/_navbar.html.erb -->
<div class="navbar-container">
  <div class="navbar-left">
    <%= link_to "RFD Admin", root_path, class: "rf-admin-link" %>
  </div>
  
  <div class="navbar-center">
    <% if user_signed_in? %>
      <button class="employees-button">
        <%= link_to "Employees", employees_path, class: "employees-link" %>
      </button>
      <button class="restaurants-button">
      <%= link_to "Restaurants", restaurants_path, class: "restaurants-link" %>
    </button>
    <% end %>
  </div>

  <div class="navbar-right">
    <% if user_signed_in? %>
      <div>Welcome <%= current_user.email %></div>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to "Sign in", new_user_session_path, class: "signin-button" %>
    <% end %>
  </div>
</div>

