<!-- app/views/restaurants/edit.html.erb -->
<%= stylesheet_link_tag "restaurant/restaurant", media: "all" %>

<div class="page-wrapper">
  <h1>Edit <%= @restaurant.name %></h1>

  <%= render 'form', restaurant: @restaurant %>

  <div class="links-container">
    <%= link_to 'Show', @restaurant, class: 'show-link' %> |
    <%= link_to 'Back', restaurants_path, class: 'back-link' %>
  </div>
</div>

