<h1><%= @restaurant.name %></h1>

<p><strong>Phone:</strong> <%= @restaurant.phone %></p>
<p><strong>Email:</strong> <%= @restaurant.email %></p>
<p><strong>Price Range:</strong> <%= @restaurant.price_range %></p>
<p><strong>Active:</strong> <%= @restaurant.active ? 'Yes' : 'No' %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
