<!DOCTYPE html>
<html>
<head>
  <title>RocketDeliveryBackend</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include the application stylesheet -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  
  <!-- Include the navbar CSS -->
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  <%= javascript_importmap_tags %>
</head>
<body>
  <!-- Include the navbar partial -->
  <%= render 'shared/navbar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>



